$('#search_results')[0].innerHTML = "";

$('#results_count').hide();

$('#results_count').html("Results: #{pluralize(@result_count, "video")} found");

$('#results_count').show();
$('#search_results').append("#{escape_javascript(render(partial: 'search_results', locals: { videos:  @videos }))}");
